{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static "style.css" %}" />
        <title>Django Two Shot</title>
    </head>
    <body>
        <header>
            <nav>
                <a href="{% url "home" %}">All Recepits</a>
                {% if user.is_authenticated == True %}
                    <p>
                        Hello {{ user.username }}
                    </p>
                    <li>
                        <a href="{% url "category_list" %}">Categories</a>
                        <a href="{% url "account_list" %}">Accounts</a>
                        <li>
                            <a href="{% url "create_receipt" %}">Create Receipt</a>
                            <a href="{% url "create_category" %}">Create Category</a>
                            <a href="{% url "create_account" %}">Create Account</a>
                        </li>
                    </li>
                    <a href="{% url "logout" %}">Log Out</a>
                {% else %}
                    <a href="{% url "login" %}">Log in</a>
                    <a href="{% url "signup" %}">Signup</a>
                {% endif %}
                {% block navbar %}
                {% endblock navbar %}
            </nav>
        </header>
        <main>
            {% block content %}
            {% endblock content %}
        </main>
    </body>
</html>
