{% extends "base.html" %}

{% block content %}
    <div>
        <h1>
            Accounts
        </h1>
        <table>
            <thead>
                <tr>
                    <td>
                        Name
                    </td>
                    <td>
                        Number
                    </td>
                    <td>
                        Number of Receipts
                    </td>
                </tr>
                <tbody>
                    {% for acc, count in acclist.items %}
                        <tr>
                            <td>
                                {{ acc }}
                            </td>
                            <td>
                                {{ acc.number }}
                            </td>
                            <td>
                                {{ count.1 }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </thead>
        </table>
    </div>
{% endblock content %}
