{% extends "base.html" %}

{% block content %}
    <div>
        <h1>
            Categories
        </h1>
        <table>
            <thead>
                <tr>
                    <td>
                        Name
                    </td>
                    <td>
                        Number of Receipts
                    </td>
                </tr>
                <tbody>
                    {% for cat, count in catlist.items %}
                        <tr>
                            <td>
                                {{ cat }}
                            </td>
                            <td>
                                {{ count }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </thead>
        </table>
    </div>
{% endblock content %}
